:root {
  --content-categories-position-1: Слоты;
  --content-categories-position-2: LIVE Казино;
  --content-categories-position-3: Быстрые;
  --content-categories-position-4: Лотерея;
  --content-categories-position-5: Настольные;
  --content-categories-position-6: В-Спорт;
  --content-footer-first-column-position-1: Спорт;
  --content-footer-first-column-position-10: В-Спорт;
  --content-footer-first-column-position-2: Aviator;
  --content-footer-first-column-position-3: JetX;
  --content-footer-first-column-position-4: Betgames;
  --content-footer-first-column-position-5: Слоты;
  --content-footer-first-column-position-6: LIVE Казино;
  --content-footer-first-column-position-7: Быстрые;
  --content-footer-first-column-position-8: Лотерея;
  --content-footer-first-column-position-9: Настольные;
  --content-footer-first-column-title: Категории игр;
  --content-footer-second-column-position-1: Ответственная игра;
  --content-footer-second-column-position-2: Политика возврата;
  --content-footer-second-column-position-3: Политика конфиденциальности;
  --content-footer-second-column-position-4: Политика KYC;
  --content-footer-second-column-position-5: Политика AML;
  --content-footer-second-column-position-6: Политика для несовершеннолетних;
  --content-footer-second-column-position-7: Правила приема ставок;
  --content-footer-second-column-position-8: Правила и условия;
  --content-footer-second-column-title: Информация;
  --content-footer-third-column-position-1: Все акции;
  --content-footer-third-column-position-2: Бонусы;
  --content-footer-third-column-position-3: Промо;
  --content-footer-third-column-position-4: Спорт;
  --content-footer-third-column-position-5: Турниры;
  --content-footer-third-column-title: Акции;
  --content-games-live-casino-2-hand-casino-hold-em: 2 Hand Casino Hold'em;
  --content-games-live-casino-auto-roulette: Auto Roulette;
  --content-games-live-casino-blackjack-classic-ru: Blackjack Classic Ru;
  --content-games-live-casino-crazy-time: Crazy Time;
  --content-games-live-casino-immersive-roulette: Immersive Roulette;
  --content-games-live-casino-live-roulette-russian: Live Roulette - Russian;
  --content-games-live-casino-mega-wheel: Mega Wheel;
  --content-games-live-casino-olymp-roulette: Olymp Roulette;
  --content-games-live-casino-power-up-roulette: PowerUP Roulette;
  --content-games-live-casino-ruletka-live: Ruletka Live;
  --content-games-live-casino-showtime-roulette: Showtime Roulette;
  --content-games-live-casino-wheel-of-fortune: Wheel Of Fortune;
  --content-games-slots-3-tombs: 3 Tombs;
  --content-games-slots-coin-princess-x1000: Coin Princess x1000;
  --content-games-slots-coin-strike-hold-and-win: Coin Strike: Hold and Win;
  --content-games-slots-gates-of-olympus-1000: Gates of Olympus 1000;
  --content-games-slots-hell-hot-100: Hell Hot 100;
  --content-games-slots-lucky-retro-fruits-hold-and-win: Lucky Retro Fruits Hold And Win;
  --content-games-slots-lucky-streak-3: Lucky Streak 3;
  --content-games-slots-mega-booming-fruits: Mega Booming Fruits;
  --content-games-slots-mummyland-treasures: Mummyland Treasures;
  --content-games-slots-royal-fruits-5: Royal Fruits 5: Hold 'n' Link;
  --content-games-slots-sugar-rush-1000: Sugar Rush 1000;
  --content-games-slots-voltage-blitz-rapid: Voltage Blitz Rapid;
  --content-header-position-1: Спорт;
  --content-header-position-10: В-Спорт;
  --content-header-position-11: Акции;
  --content-header-position-12: Турниры;
  --content-header-position-2: Aviator;
  --content-header-position-3: JetX;
  --content-header-position-4: Betgames;
  --content-header-position-5: Слоты;
  --content-header-position-6: LIVE Казино;
  --content-header-position-7: Быстрые;
  --content-header-position-8: Лотерея;
  --content-header-position-9: Настольные;
  --content-navbar-position-1: Казино;
  --content-navbar-position-2: Слоты;
  --content-navbar-position-3: Меню;
  --content-navbar-position-4: Спорт;
  --content-navbar-position-5-guest: Войти;
  --content-navbar-position-5-user: Профиль;
  --content-subcategories-instant-position-1: Новые;
  --content-subcategories-instant-position-10: Аркадные;
  --content-subcategories-instant-position-11: Рыбалка;
  --content-subcategories-instant-position-12: Крикет;
  --content-subcategories-instant-position-2: Горячие;
  --content-subcategories-instant-position-3: NetGame;
  --content-subcategories-instant-position-4: Крэш;
  --content-subcategories-instant-position-5: Мины;
  --content-subcategories-instant-position-6: Плинко;
  --content-subcategories-instant-position-7: Hi-Lo;
  --content-subcategories-instant-position-8: Спортивные;
  --content-subcategories-instant-position-9: Настольные;
  --content-subcategories-live-casino-position-1: Новые;
  --content-subcategories-live-casino-position-10: Баккарат;
  --content-subcategories-live-casino-position-11: Teen Patti;
  --content-subcategories-live-casino-position-12: Андар Бахар;
  --content-subcategories-live-casino-position-13: Азия;
  --content-subcategories-live-casino-position-2: Горячие;
  --content-subcategories-live-casino-position-3: Рулетка;
  --content-subcategories-live-casino-position-4: Блекджек;
  --content-subcategories-live-casino-position-5: Игровые шоу;
  --content-subcategories-live-casino-position-6: TV Игры;
  --content-subcategories-live-casino-position-7: Кости;
  --content-subcategories-live-casino-position-8: Лотерея;
  --content-subcategories-live-casino-position-9: Покер;
  --content-subcategories-lottery-position-1: Новые;
  --content-subcategories-lottery-position-2: Горячие;
  --content-subcategories-lottery-position-3: Inbet;
  --content-subcategories-lottery-position-4: Livegames37;
  --content-subcategories-lottery-position-5: Колесо;
  --content-subcategories-lottery-position-6: Кено;
  --content-subcategories-lottery-position-7: Бинго;
  --content-subcategories-lottery-position-8: Скретч карты;
  --content-subcategories-lottery-position-9: Lotomatic;
  --content-subcategories-slots-position-1: Новые;
  --content-subcategories-slots-position-10: Drops & Wins;
  --content-subcategories-slots-position-11: Gamzix;
  --content-subcategories-slots-position-12: Фрукты;
  --content-subcategories-slots-position-13: Джекпот;
  --content-subcategories-slots-position-14: Megaways;
  --content-subcategories-slots-position-15: Книги;
  --content-subcategories-slots-position-16: Lotomatic;
  --content-subcategories-slots-position-2: Горячие;
  --content-subcategories-slots-position-3: Endorphina;
  --content-subcategories-slots-position-4: NetGame;
  --content-subcategories-slots-position-5: Belatra;
  --content-subcategories-slots-position-6: Кешбэк;
  --content-subcategories-slots-position-7: Barbara Bang;
  --content-subcategories-slots-position-8: Truelab;
  --content-subcategories-slots-position-9: Купи Бонус;
  --content-subcategories-table-position-1: Новые;
  --content-subcategories-table-position-10: Hi-Lo;
  --content-subcategories-table-position-11: Кости;
  --content-subcategories-table-position-2: Горячие;
  --content-subcategories-table-position-3: Inbet;
  --content-subcategories-table-position-4: Быстрые;
  --content-subcategories-table-position-5: Блекджек;
  --content-subcategories-table-position-6: Рулетка;
  --content-subcategories-table-position-7: Покер;
  --content-subcategories-table-position-8: Видео покер;
  --content-subcategories-table-position-9: Баккарат;
  --content-subcategories-v-sport-position-1: Новые;
  --content-subcategories-v-sport-position-2: Горячие;
  --content-subcategories-v-sport-position-3: Футбол;
  --content-subcategories-v-sport-position-4: Собачьи бега;
  --content-subcategories-v-sport-position-5: Скачки;
  --content-subcategories-v-sport-position-6: Мотоспорт;
  --content-subcategories-v-sport-position-7: Другие;
}
